<html>
<head>

<title>Assignment 8</title>

<script language="javascript" type="text/javascript" src="assignment8.js"></script>
<link rel="stylesheet" type="text/css" href="assignment8.css ">
<script src="https://vuejs.org/js/vue.js"></script>

</head>

<body onload="body_onload()">
    
<!-- User Interface Elements -->
<div id="calculatorApp">
    <label id="lblCheckAmount">Check Amount</label>
    <label id="lblSalesTaxPct">Sales Tax %</label>
    <label id="lblTipPct">Tip %</label>
    <label id="lblSalesTaxAmount">Sales Tax</label>
    <label id="lblTipAmount">Tip Amount</label>

    <input type="text" id="txtCheckAmount" v-model="checkAmount"/>
    <input type="text" id="txtSalesTaxPct" v-model="salesTaxPct"/>
    <input type="text" id="txtTipPct" v-model="tipPct"/>
    <input type="text" id="txtSalesTaxAmount" readonly="readonly" v-model="salesTaxAmount"/>
    <input type="text" id="txtTipAmount" readonly="readonly" v-model="tipAmount" />

    <label id="lblOp1Message">{{ op1Message }}</label>
    <label id="lblOp2Message">{{ op2Message }}</label>
    <label id="lblOp3Message">{{ op3Message }}</label>

    <div id="divButtons">
        <input type="radio" id="radPreTax" value="TipPreTax" v-model="result" />
        <label for="radPreTax" id="lblRadPreTax">Tip Pre Tax</label>
        <input type="radio" id="radTotal" value="TipOnTotal" v-model="result" />
        <label for="radTotal" id="lblRadTotal">Tip On Total</label>
    </div>
</div>

</body>
</html>